### Lambda ###

In [29]:
# create basic function

**one argument**

In [10]:
# Important 
# how many argument? a
# what you are returning? x+10

# Formate: lambda <argument>:<output>

In [65]:
def summ(x):
    return (x+10)
summ(20)

30

In [15]:
summ=lambda x:x+10
summ(20)

30

In [27]:
def square(x):
    return (x*x)
square(4)

16

In [17]:
square=lambda x:x*x
square(4)

16

In [25]:
def cube(x):
    return (x*x*x)
cube(2)

8

In [23]:
cube=lambda x:x*x*x
cube(2)

8

**Two argument**

In [ ]:
# Important 
# how many argument? x and y
# what you are returning? x+y

# Formate: lambda <argument1>,<argument1>:<output>

In [ ]:
def summ(x,y):
    return (x+y)
summ(20)

In [36]:
summ=lambda x,y:x+y
summ(10,20)

30

In [67]:
# impement of avarage using three number

In [48]:
avg=lambda a,b,c:(a+b+c)/3
avg(10,20,30)

20.0

In [52]:
# impement of avarage using three number and third number is default
avg=lambda a,b,c=30:(a+b+c)/3
avg(20,30)

26.666666666666668

In [54]:
# round of the output
avg=lambda a,b,c=30: round((a+b+c)/3,2)
avg(20,30)

26.67

**if-else**

In [ ]:
#formate 
# lambda <agr1>,<agr2>:<if_output> <if_condition> <else> <else_condition>

In [60]:
# create function greater number between two number
def greater(a,b):
    if a>b:
        # print("{} is greater than {}".format(a,b))
        return a
    else:
        # print("{} is greater than {}".format(b,a))
        return b
greater(100,200)

200 is greater than 100

In [ ]:
# if we want to store in list use append() method
def greater(a,b):
    if a>b:
        return a
    else:
        return b
greater(100,200)

In [ ]:
def greater(a,b):
    if a>b:
        return a
    else:
        return b
greater(100,200)

In [63]:
greater =lambda a,b:a if a>b else b
greater(100,200)

200

In [69]:
list1 = ['hyd','mumbai','chennai']
list2=[]
for i in list1:
    list2.append(i.capitalize())
list2

['Hyd', 'Mumbai', 'Chennai']

In [71]:
list3=[i.capitalize() for i in list1]
list3

['Hyd', 'Mumbai', 'Chennai']

In [ ]:
# first make a lambda function
# second add your itretor
# map both function and iterator
# save the resutl in a list or particular data structure as your need

In [ ]:
list1 = ['hyd','mumbai','chennai']
lambda i:i.capitalize(),list
map(lambda i:i.capitalize(), list1)
list(map(lambda i:i.capitalize(), list1))

In [152]:
# Format: lambda <argument>:<output>,<itretor>
# after that we need to map input and output
# store the output

In [77]:
lambda i:i.capitalize(),list1

(<function __main__.<lambda>(i)>, ['hyd', 'mumbai', 'chennai'])

In [79]:
# after that we need to map input and output

In [85]:
map(lambda i:i.capitalize(),list)

In [ ]:
# store the output

In [147]:
list1 = ['hyd','mumbai','chennai']
list=[]
result=list(map(lambda i:i.capitalize(), list1))
print(result)

TypeError: 'list' object is not callable

In [160]:
list(map(lambda i:i.capitalize(), list1))

In [156]:
list1 = ["example", "test", "code"]
# result = list(map(lambda i: i.capitalize(), list1))
# print(result)

In [1]:
list1=[1,2,3,4,5]
# output should be [1,4,9,16,25]
lambda i:i*i, list1
map(lambda i:i*i, list1)
result = list(map(lambda i:i*i, list1))
print(result)
# for i in map(lambda i:i*i, list1):
#     print(i)

[1, 4, 9, 16, 25]

In [9]:
list1=[1,2,3]
list2=[11,22,33]
# output ----> [12,24,23]
lambda i,j:i+j,list1,list2
map(lambda i,j:i+j,list1,list2)
list(map(lambda i,j:i+j,list1,list2))

[12, 24, 36]

In [15]:
list1=['h#d','mum#ai','chennai']
list2=[]
# output ---> ['h#d','mum#ai']
for i in list1:
    if '#' in i:
        list2.append(i)
print(list2)

[i for i in list1 if '#' in i]

['h#d', 'mum#ai']

['h#d', 'mum#ai']

In [17]:
list1=['h#d','mum#ai','chennai']
list(map(lambda i:'#' in i, list1))

[True, True, False]

In [19]:
# if you want like that ['h#d','mum#ai'] then use 'filter'
list1=['h#d','mum#ai','chennai']
list(filter(lambda i:'#' in i, list1))

['h#d', 'mum#ai']